.c-code-runner {
	display: grid;
	grid-auto-flow: row;
	gap: 1em;
	
	&__button-bar {
		display: flex;
		flex-flow: row nowrap;
		gap: 1em;
	}

	&__button {
		flex-grow: 1;
		flex-basis: 100%;
		display: block;
        // cut some button styles here
	}

	&__iframe-parent {
		display: flex;
		margin: 0;
		padding: 0;
		resize: vertical;
		overflow: hidden;

		min-height: 300px;
        max-height: 100vh;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
	}

	&__iframe {
		flex-grow: 1;
		margin: 0;
		padding: 0;
		border: 0;
	}
}
